# Application
.idea
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wordpress
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
Thumbs.db

# IDE
.idea
.phpintel
